# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://leonardo:leonardo@localhost:5432/leonardo?schema=public"

# HiveMQ Cloud
MQTT_BROKER_URL=
MQTT_USERNAME=
MQTT_PASSWORD=

# Clerk Auth
CLERK_SECRET_KEY=
JWT_SECRET=supersecretkey

# AWS
AWS_SQS_BASE_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
PADRE_RAMON_SQS_QUEUE_URL=${AWS_SQS_BASE_URL}/padreRamon-visitas

## AWS SQS Queues
AVISEI_PRECO_BOM_MENSAGENS_SQS_QUEUE_NAME=avisei-preco-bom-concorrente
AVISEI_PRECO_BOM_AFILIADOS_ID_SQS_QUEUE_NAME=afiliados-id-mensagem


# Leonardo N8N
LEONARDO_N8N_WEBHOOK_URL=

# Evolution Whatsapp
EVOLUTION_INSTANCE_LEONARDO_ID=
EVOLUTION_INSTANCE_JULIANA_ID=
EVOLUTION_ALLOWED_GROUPS=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_WHATSAPP_NUMBER=

# Avisei Preco Bom - Afiliados
AVISEI_PRECO_BOM_ENABLED=true