DATABASE_URL="postgresql://leonardo:leonardo@localhost:5432/leonardo?schema=public"

# HiveMQ Cloud
MQTT_BROKER_URL=
MQTT_USERNAME=
MQTT_PASSWORD=

# Clerk Auth
CLERK_SECRET_KEY=
JWT_SECRET=supersecretkey

# AWS
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SQS_URL=

# Leonardo N8N
LEONARDO_N8N_WEBHOOK_URL=

# Evolution Whatsapp
EVOLUTION_INSTANCE_LEONARDO_ID=
EVOLUTION_INSTANCE_JULIANA_ID=
EVOLUTION_ALLOWED_GROUPS=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_WHATSAPP_NUMBER=

# Achei Preco Bom
ACHEI_PRECO_BOM_ENABLED=true
ACHEI_PRECO_BOM_SQS_QUEUE_URL=